asgiref==3.8.1
dj-database-url==2.3.0
Django==5.2
psycopg2-binary==2.9.10
python-decouple==3.8
sqlparse==0.5.3
typing_extensions==4.13.1

postgresql://postgres:RkKkIxpGTpJZmvtFRTDjoRipcbjWjVxw@hopper.proxy.rlwy.net:39100/railway
postgresql://postgres:RkKkIxpGTpJZmvtFRTDjoRipcbjWjVxw@postgres.railway.internal:5432/railway